<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Flask image post</title>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        body {
            background-color: white;
        }
        table, td, th {
          border : 1px solid black;
          border-collapse : collapse;
        }
    </style>
</head>

<body>
    <!-- nav bar -->
	<header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/index"> <img src="../static/img/Logo.png" height="30px"> </a>
                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav" style="font-family: NEXON Lv2 Gothic Bold;">
                                <li class="nav-item">
                                    <a class="nav-link" href="/index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/index#about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/det_cat">Cat Test</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/det_tree">Tree Test</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/det_life">Life Space</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

	<section class="result_part">
        <h1 style="font-family: NEXON Lv2 Gothic Bold;">Result</h1>

        <div class="centerDiv" >
            <div class="result_table">
                <table align="center" style="table-layout: fixed">
                    <tr>
                        {% for my_tr in my_tr_list  %}
                            <th style="width: 600px; max-width: 600px">{{ my_tr }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for my_td in my_td_list %}
                            <td><img style="width: 100%; height: auto" align="center" class=det_img src="{{my_td}}"></td>
                        {% endfor %}
                     </tr>
                </table>
            </div>
            <div class="result_text" style="line-height: 32px; font-size: 14px">
                <br> {{user_result}}
            </div>
            <img align="center" class=det_img src="{{user_url}}" >
        </div>
	</section>

	<footer id = "footer">
        <div style="text-align: center; line-height: 32px;">
            <a href="https://ivpl.sookmyung.ac.kr">
                <img src="../static/img/ivpl_logo.png" style="width:150px">
            </a>
            <br>
        </div>
    </footer>
</body>
</html>